@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;1,6..12,400&display=swap");

$color1: #eff6ff;
$color2: #e0f2fe;
$color3: #bae6fd;
$color4: #7dd3fc;
$color5: #38bdf8;
$color6: #0ea5e9;
$color7: #0284c7;
$color8: #0369a1;
$color9: #075985;
$color10: #0c4a6e;
$color11: #082f49;
$color0: #fff;
$color00: #e9b857;
$colorStars: #ffd700;

$transition: all 0.5s ease-in-out;
$transition2: all 1s ease-in-out;

$fontFamily: "Nunito Sans", sans-serif;